# jetstream library
absl-py
coverage
flax
grpcio
jax
jaxlib
numpy
portpicker
prometheus-client
pytest
seqio
tiktoken
blobfile
parameterized
shortuuid
# jetstream benchmarks
nltk
evaluate
rouge-score
tqdm
# jetstream profiling
tensorboard-plugin-profile
# engines
# maxtext @ git+https://github.com/google/maxtext.git@jetstream-v0.2.2#egg=maxtext
# maxtext @ {root:uri}/jetstream/engine/implementations/maxtext
jetstream_pt @ git+https://github.com/google/jetstream-pytorch.git@jetstream-v0.2.2#egg=jetstream_pt
